body.ourbody {
    background-color: #87CEEB;
    text-align: center;
    font-family:'Mate SC', cursive;
    font-size: 16px;
    margin: 8px;
    display: block;
    color: #000;
}
h1.ourh1 {
    font-family: 'Mate SC', serif;
    font-size: 40px;
    color: #000;
}
a.anchors:hover {
    background-color:#000;
    opacity: 0.4;
}
a.anchors:link, a.anchors:visited {
    border: solid;
    padding: 5px;
    text-decoration: none;
    border-radius:10px;
    color: #FFFFFF;
    margin-right:0.25%;
    margin-left:0.25%;
    font-family: 'Mate SC', serif;  
}
a.underline:link, a.underline:visited {
    text-decoration: underline;
}
section {
    border: medium solid black;
    background-color: #555;
    padding: 20px;
    margin: 10px;
    font-family: 'Mate SC', serif;
    font-size: 17px;
}
.saying {
    font-family:'Dawning of a New Day', cursive;
    font-size:30px;
}
p {
    text-align: left;
}
img.images {
    border: inset;
    padding: 20px;
    background-color: #555;
    width:75%;
}
.col-right {
    float:right;
    width: 70%;
}
.col-left {
    border: medium solid;
    height: 450px;
    padding: 10px;
    width: 25%;
}
footer {
    left: 40%;
    top: 500px;
    position: relative;
}
.col-left>p {
    line-height: 10px;
    text-align: center;
}
#userinfo {
    float: right;
    width: 26%;
    display: block;
    line-height: 200%;
}
#usercontainer {
    height: 122px;
    background-image: url("/static/pictures/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#usercontainer p {
    text-align: right;
    margin-right: 18px;
    margin-top: 17px;
    line-height: 20px;
    color: white;
}
a:link.anchor-underline, a:visited.anchor-underline {
    text-decoration: underline;
}
