body {
    background-color: #87CEEB;
    text-align: center;
    font-family:'Mate SC', cursive;
}
h1 {
    font-family: 'Mate SC', serif;
    font-size: 40px;
}
a:hover {
    background-color:#000;
    opacity: 0.4;
}
a:link, a:visited {
    border: solid;
    padding: 5px;
    text-decoration: none;
    border-radius:10px;
    color: #FFFFFF;
    margin-right:0.25%;
    margin-left:0.25%;
    font-family: 'Mate SC', serif;  
}
section {
    border: solid;
    background-color: #555;
    padding: 20px;
    margin: 10px;
}
.saying {
    font-family:'Dawning of a New Day', cursive;
    font-size:30px;
}
p {
    text-align: left;
}
img {
    border: inset;
    padding: 20px;
    background-color: #555;
    width:75%;
}
.col-right {
    float:right;
    width: 70%;
}
.col-left {
    border: medium solid;
    height: 450px;
    padding: 10px;
    width: 25%;
}
footer {
    left: 40%;
    top: 500px;
    position: relative;
}
.col-left>p {
    line-height: 10px;
    text-align: center;
}
