#makeapt-form {
    margin-left: 25%;
    width: 50%;
}
#makeapt-form fieldset {
    border: thin solid;
    padding: 10px;
}
#makeapt-form legend {
    padding: 0 10px 0 10px;
}
#makeapt-form td, #makeapt-form th {
    border: none;
    font-family:'Mate SC', cursive;
    font-size: 16px;
    vertical-align: middle;
    line-height: 40px;
    float: left;
}
#makeapt-form table {
    border: none;
    width: 50%;
    margin-left: 35%;
}
#id_aptdate {
    width: 75px;
}
.submit-button {
    margin-top: 10px;
}
.error {
    color: red;
}

