<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
<link href='/static/global.css' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
</head>
<body class="ourbody">
    <div id="usercontainer">
    <div id="userinfo">
      {% if user.is_authenticated %}
        <p>
          <a class="underline" style="color: #fff"href="/users/{{user.username}}">{{user.username}}</a>
          <a class="anchors" href="/logout/">Logout</a>
        </p>
      {% else %}
        <p><a class="anchors" href="/login/?next=/{{ request.path }}">Login</a></p>
      {% endif %}
      {% if user.is_authenticated %}
        {% if nextapt %}
          <p>Next Visit: {{nextapt}}</p>
        {% endif %}
        <p><a class="anchors" href="/makeaptdate">Make Appointment</a></p>
      {% endif %}
    </div>
    </div>
    <section>
    <a class="anchors" href="/">Home</a>
    <a class="anchors" href="/visit_us">Visit Us</a>
    <a class="anchors" href="/price_list">Price List</a>
    <a class="anchors" href="/curriculum">Curriculum</a>
    <a class="anchors" href="/additional_classes">Children and Adult Classes</a>
    <a class="anchors" href="/events">Events</a>
    </section>

    <h1 class="ourh1">{% block heading %}{% endblock %}</h1>

    {% block content %}
    {% endblock %}
<footer>
</footer>

</body>
</html>
