<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Mate+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
<link href='static/global.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Arlington Career Center Cosmetology</h1>
    <div id="usercontainer">
    <div id="userinfo">
      {% if user.is_authenticated %}
        <span>Next Appointment: {{nextapt}}</span>
      {% endif %}
      {% if user.is_authenticated %}
        <a href="/logout/">Logout</a>
        <span>{{user.username}}</span>
      {% else %}
        <a href="/login/?next=/{{ request.path }}">Login</a>
      {% endif %}
    </div>
    </div>
    <section>
    <a class="visit" href="/">Home</a>
    <a class="visit" href="static/visit_us.html">Visit Us</a>
    <a class="information" href="static/price_list.html">Price List</a>
    <a class="cirriculum" href="static/curriculum.html">Curriculum</a>
    <a class="additional" href="static/additional_classes.html">Children and Adult Classes</a>
    <a class="events" href="static/events.html">Events</a>
    <a class="other" href="static/other.html">Other</a>
    <a class="information" href="static/contact_information.html">Contact Information</a>
    </section>

    <h1>{% block heading %}{% endblock %}</h1>

    {% block content %}
    {% endblock %}
<footer>
<a href="http://validator.w3.org/check/referer">
<strong> HTML </strong> Valid! </a> &nbsp;
<a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
<strong> CSS </strong> Valid! </a>
</footer>

</body>
</html>
