{% extends "base.html" %}
<title>{% block title %}Curriculum{% endblock %}</title>
    {% block heading %}Curriculum{% endblock %}
    {% block content %}
<style type="text/css">
    #lab2 {
        float:right;
        width: auto;
    }
    .left {
        float:left;
    }
    ul {
        text-align: left;
    }
    footer {
        text-align: left;
    }    
</style>
    <img class="images" id="lab2" src='/static/pictures/lab2.jpg' height='350' width='500' alt='cut'>

    <h2>Skills </h2>
    <p> Every student enroled in the program is eligble to take the <br> <br> <a href="http://www.boardofcosmetology.net/virginia-board-of-cosmetology-cb45">Virginia State Board of Cosmetology Exam</a></p><br> 

    <h2>Kit </h2>   
    <p> Every student will have to purchase a kit as part of their first year cirriculum. The kit currently cost $220.00 and includes everything nessisary for a student's first year. There are reduced fairs for eligible students and flexible payment plans. For more information contact either Ms. Dee or Mrs. Peake. Each kit includes the following: </p> 
    <ul>
        <li>1 vinyl shampoo cape </li>
        <li>1 carry all tote bag </li>
        <li>1 spray bottle </li>
        <li>1 round brush </li>
        <li>1 style/vent brush </li>
        <li>1 nail art brush set </li>
        <li>1 hair styling razor </li>
        <li>1 flat iron </li>
        <li>1 manicure kit </li>
        <li>1 bag rods </li>
        <li>3 manikins/ 1 holder </li>
        <li>1 curling iron </li>
        <li>1 pack of butterfly clamps </li>
        <li>1 pack of rollers </li>
        <li>1 box of single prong clips </li>
        <li>1 paddle cushion hair brush </li>
        <li>1 brush/comb cleaner </li>
        <li>1 manikin scissors kit </li>
        <li>1 box of dual purpose clips </li>
        <li>1875-watt blow dryer </li>
        <li>1 ten-piece comb roll-up</li>
        <li>2 packs of flexi rods </li>
        <li>1 hand pallet </li>
        <li>1 clipper combo/ 2 combs </li>
    </ul>

    <img class="images" src='/static/pictures/lab.jpg' height='350' width='500' alt='lab'>
    {% endblock %}
