{% extends "base.html" %}
<title>{% block title %}Home Page{% endblock %} </title>
   
 {% block heading %}Welcome to the Arlington Career Center's<br>
        Cosmetology Program{% endblock %}

    {% block content %}
    <div class="col-right">
    <img class="images" src="static/pictures/cutting_peake.jpg"  height="350" width="550" alt="hairstyling">
    <p>The Career Center offers the only cosmetology instruction in the Arlington Public Schools. In this unique program, students learn the science, art and business of cosmetology. Cosmetology skills are both practical and in-demand, projecting a growth rate of 20% over the next ten years in the State of Virginia.<br><br>

    Right from the start, students will begin learning practical skills that they can use to enhance their own appearance and help their friends and family. Ongoing training can lead to any number of interesting careers, including salon owner, beauty consultant and make-up artist, to name just a few.<br><br>

    Our classroom has 21 individual workstations, and comes with all the equipment to perform hair cuts, hair styling, manicures, pedicures, facials, makeup and skin care. Students begin by working on mannequins, then practice on each other, and finally perform services on real clients in our school salon.<br>

    First-year students learn basic cosmetology theory and acquire skills that they can use to gain entry-level jobs in salons. Second-year students complete the theory and skill-building required to take the Virginia State Board of Cosmetology Exam. Students practice for the state exam in a simulated exam setting.<br>

    Whether for personal pleasure or professional gain, come learn the latest techniques and styles at the Arlington Career Center.</p>

    <br>    
    </div>
    <div class="col-left">
    <b><u> Roseina  Peake </u></b>
    <p>Instructor,<br>
    Licensed Barber, &#38; Cosmetologist <br>
    email : Rosenia_Peake@apsva.us <br>
    Phone: 703)288-5799</p><br>
    <b><u>Dee Alexander</u></b>
    <p>Licensed Barber, Certified Biology Teacher, <br> &#38; Cosmetologist <br>
    email : Desiree_Alexander@apsva.us <br>
    Phone: 703)288-5772</p><br>
    <a class="anchors" href="/makeaptdate">Make Appointment</a><br>
    <p>816 S. Walter Reed Drive</p>
    <p>Arlington, VA 22204</p>
    </div>
    {% endblock %}
</body>
</html>
