{% extends "base.html" %}
{% load url from future %}
{% block content %}

{% if form.errors %}
<p>Please correct the items marked in red below.</p>
{% endif %}
<style type="text/css">
    #user-form {
        margin-left: 35px;
        margin-right: 35px;
    }
    #new-user {
        float: left;
    }
    #existing-user {
        float: right;
    }
    .user-block {
        border: thin solid;
        width: 400px;
        padding: 10px;
    }
    .clear {
        clear: both;
    }
    #user-form legend {
        padding: 0 10px 0 10px;
    }
    .submit-button {
        margin-top: 10px;
    }
    .table {
        display: table;
    }
    .row {
        display: table-row;
    }
    .cell {
        display: table-cell;
    }
    .error {
        color: red;
    }
</style>
<form id="user-form" method="post" action="/login/">
{% csrf_token %}
  <fieldset id="new-user" class="user-block">
    <legend align='center'>Register new user</legend>
    <div class="table">
      <div class="row">
        <div class="cell">{{ form.new_first_name.label_tag }}</div>
        <div class="cell">{{ form.new_first_name }}</div>
        <div class="cell error">{{ form.new_first_name.errors }}</div>
      </div>
      <div class="row">
        <div class="cell">{{ form.new_last_name.label_tag }}</div>
        <div class="cell">{{ form.new_last_name }}</div>
        <div class="cell error">{{ form.new_last_name.errors }}</div>
      </div>
      <div class="row">
        <div class="cell">{{ form.new_username.label_tag }}</div>
        <div class="cell">{{ form.new_username }}</div>
        <div class="cell error">{{ form.new_username.errors }}</div>
      </div>
      <div class="row">
        <div class="cell">{{ form.new_password.label_tag }}</div>
        <div class="cell">{{ form.new_password }}</div>
        <div class="cell error">{{ form.new_password.errors }}</div>
      </div>
      <div class="row">
        <div class="cell">{{ form.new_password_confirm.label_tag }}</div>
        <div class="cell">{{ form.new_password_confirm }}</div>
        <div class="cell error">{{ form.new_password_confirm.errors }}</div>
      </div>
    </div>
    <input class="submit-button" type="submit" name="register-button" value="Register" />
  </fieldset>

  <fieldset id="existing-user" class="user-block">
    <legend align='center'>Login existing user</legend>
    <div class="table">
      <div class="row">
        <div class="cell">{{ form.existing_username.label_tag }}</div>
        <div class="cell">{{ form.existing_username }}</div>
        <div class="cell error">{{ form.existing_username.errors }}</div>
      </div>
      <div class="row">
        <div class="cell">{{ form.existing_password.label_tag }}</div>
        <div class="cell">{{ form.existing_password }}</div>
        <div class="cell error">{{ form.existing_password.errors }}</div>
      </div>
    </div>
    <input class="submit-button" type="submit" name="login-button" value="Login" />
  </fieldset>
  <div class="clear"></div>
</form>
{% endblock %}
