{% extends "base.html" %}
{% load url from future %}
{% block content %}

{% if form.errors %}
<p class='error'>Please correct the items marked in red below.</p>
{% endif %}
<style type="text/css">
    #user-form {
        margin-left: 35px;
        margin-right: 35px;
    }
    #new-user {
        float: left;
    }
    #existing-user {
        float: right;
    }
    .user-block {
        border: thin solid;
        width: 400px;
        padding: 10px;
    }
    .clear {
        clear: both;
    }
    #user-form legend {
        padding: 0 10px 0 10px;
    }
    .submit-button {
        margin-top: 10px;
    }
    .error {
        color: red;
    }
</style>
<form id="user-form" method="post" action="/login/">
{% csrf_token %}
  <fieldset id="new-user" class="user-block">
    <legend align='center'>Register new user</legend>
    <table>
      <tr>
        <td class="error" colspan='2'>{{ form.new_first_name.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_first_name.label_tag }}</td>
        <td>{{ form.new_first_name }}</td>
      </tr>
      <tr>
        <td class="error" colspan='2'>{{ form.new_last_name.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_last_name.label_tag }}</td>
        <td>{{ form.new_last_name }}</td>
      </tr>
      <tr>
        <td class="error" colspan='2'>{{ form.new_username.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_username.label_tag }}</td>
        <td>{{ form.new_username }}</td>
      </tr>
      <tr>
        <td class="error" colspan='2'>{{ form.new_password.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password.label_tag }}</td>
        <td>{{ form.new_password }}</td>
      </tr>
      <tr>
        <td class="error" colspan='2'>{{ form.new_password_confirm.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.new_password_confirm.label_tag }}</td>
        <td>{{ form.new_password_confirm }}</td>
      </tr>
    </table>
    <input class="submit-button" type="submit" name="register-button" value="Register" />
  </fieldset>

  <fieldset id="existing-user" class="user-block">
    <legend align='center'>Login existing user</legend>
    <table>
      <tr>
        <td class="error" colspan='2'>{{ form.existing_username.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.existing_username.label_tag }}</td>
        <td>{{ form.existing_username }}</td>
      </tr>
      <tr>
        <td class="error" colspan='2'>{{ form.existing_password.errors }}</td>
      </tr>
      <tr>
        <td>{{ form.existing_password.label_tag }}</td>
        <td>{{ form.existing_password }}</td>
      </tr>
    </table>
    <input class="submit-button" type="submit" name="login-button" value="Login" />
  </fieldset>
  <div class="clear"></div>
</form>
{% endblock %}
