{% extends "base.html" %}
<title>{% block title %}Make Appointment: Choose Time{% endblock %}</title>
{% block heading %}Make Appointment: Choose Time{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script> 
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
{{ form.fields.apttime.widget.media }}
{% if form.errors %}
<p class='error'>Please correct the items marked in red below.</p>
{% endif %}
<form action="/makeapttime/?aptdate={{request.GET.aptdate}}" method="POST" >
  {% csrf_token %}
  <p>{{ form.apttime.errors }}</p>
  <p>{{ form.apttime.label }}</p>
  <p>{{ form.apttime }}</p>
  <input class="submit-button" type="submit" name="submit-time" value="Submit" />
</form>
{% endblock %}
