{% extends "base.html" %}
<title>{% block title %}Price List{% endblock %}</title>
    {% block heading %}Price List{% endblock %}
    {% block content %}
    <style type="text/css">
    table {
        color:#FFF;
        border: solid;
        background-color:#000;
        opacity: 0.6;
        width: 100%;
    }
    #both-tables {
        margin: 0px 20px 0px 60px;
        max-width: 87%;
    }
    #left-table {
        float: left;
    }
    #right-table {
        float: right;
    }
    </style>
    <img class="images" src="/static/pictures/manicure_close.jpg" height='400' width='600' alt='manini'><br />
    Senior Citizens receive a  10% discount on all prices. <br><br>
  <div id="both-tables">  
    <div id="left-table">
      <strong><u>Hair Shaping </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Regular Hair Shaping</td><td>  $10.00</td></tr>
        <tr><td>Hair Trim </td><td>$5.00 </td><tr>
        <tr><td>Neckline Shaped </td><td>$3.00 </td></tr>
        <tr><td>Blowout (Vigoral, Hairlox, etc) </td><td> $16.00 </td></tr>
      </table><br>
     
      <strong><u>Shampoo &amp; Style Services  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Comb-out Long Hair </td><td> $5.00 </td></tr>
        <tr><td>Comb-out Short Hair </td><td> $4.00 </td></tr>
        <tr><td>Shampoo </td><td>$4.00 </td></tr>
        <tr><td>Shampoo, Dry, Curl/ Crimped </td><td>$15.00 </td></tr>
        <tr><td>Shampoo, Press, Curl, &amp; Style</td><td>$15.00 </td></tr>
        <tr><td>Shampoo, Set, &amp; Style </td><td>$16.00 </td></tr>
        <tr><td>Shampoo, Style Set, &amp; Style </td><td>$20.00 </td><tr>
        <tr><td>Shampoo, Wrap, &amp; Style </td><td>$15.00 </td></tr>
        <tr><td>Shampoo, Wrap, &amp; Style</td><td>$15.00 </td></tr>
        <tr><td>Tracts/ Extensions (hair furnished by client)</td><td>$10.00 </td></tr>
        <tr><td>Braids </td><td>$25.00 </td></tr>
      </table><br>

      <strong><u> Wigs  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Cleaned, Set, &amp; Style </td><td>$10.00 </td></tr>
        <tr><td>Shaped or Thinned </td><td>$6.00 </td><tr>
        <tr><td>Wiglets &amp; Transformed Services </td><td>$6.00 </td></tr>
      </table><br>

      <strong><u>Hair Bleaching &amp; Tinting (set included)</u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Frosting- Long Hair (toner included) </td><td>$30.00 </td></tr>
        <tr><td>Frosting- Short Hair (toner included)  </td><td>$25.00 </td><tr>
        <tr><td>Bleached  &amp; Toned- Long Hair</td><td>$30.00 </td></tr>
        <tr><td>Bleached  &amp; Toned- Short Hair </td><td>$25.00 </td></tr>
        <tr><td>Henna- Long Hair </td><td>$18.00 </td></tr>
        <tr><td>Henna- Short Hair </td><td>$16.00 </td></tr>
        <tr><td>Hair Tinted- Long Hair </td><td>$25.00 </td></tr>
        <tr><td>Hair Tinted- Short Hair </td><td>$20.00 </td></tr>
        <tr><td>Luminize- Long Hair </td><td>$20.00 </td></tr>
        <tr><td>Luminize- Short Hair </td><td>$18.00 </td></tr>
        <tr><td>Tipping/ Streaking- Long Hair </td><td>$25.00 </td><tr>
        <tr><td>Tipping/ Streaking- Short Hair</td><td>$18.00 </td></tr>
        <tr><td>Cellophanes- Long Hair </td><td>$25.00 </td></tr>
        <tr><td>Cellophanes- Short Hair</td><td>$22.00 </td></tr>
      </table><br>

      <strong><u>Color Rinse  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Semi-Permanent Rinse (set included)</td><td>$20.00 </td></tr>
        <tr><td>Temporary Rinse </td><td>$3.00 </td><tr>
      </table><br>

      <strong><u>Chemical Hair Relaxers  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Long Hair </td><td>$35.00 </td></tr>
        <tr><td>Short hair </td><td>$30.00 </td><tr>
        <tr><td>Hairline </td><td>$25.00 </td></tr>
      </table><br>
    </div>
    <div id="right-table">
      <strong><u>Permanents  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Spiral Perm Wave </td><td>$40.00 </td></tr>
        <tr><td>Cold Wave/ Body Perms- Long Hair </td><td>$30.00 </td><tr>
        <tr><td>Cold Wave/ Body Perms- Short Hair </td><td>$25.00 </td></tr>
        <tr><td>Partial Perm </td><td>$15.00 </td></tr>
        <tr><td>Curly Perms- Long Hair (trim included) </td><td>$45.00 </td></tr>
        <tr><td>Curly Perms- Short Hair (trim included) </td><td>$40.00 </td></tr>
      </table><br>

      <strong><u>Hair &amp; Scalp Treatments  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Balsam Conditioner, B-12, or Regional </td><td>$2.00 </td></tr>
        <tr><td>Cream Conditioner </td><td>$4.00 </td><tr>
        <tr><td>Cream Conditioner with Heat </td><td>$6.00 </td></tr>
        <tr><td>Dandruff Treatment </td><td>$4.00 </td></tr>
        <tr><td>Hair Thickeners </td><td>$2.00 </td></tr>
        <tr><td>Instant Conditioners &amp; Silk Hair Culture </td><td>$4.00 </td></tr>
        <tr><td>Scalp Massage with Vibrator </td><td>$3.00 </td></tr>
        <tr><td>Special Lotion Treatments </td><td>$4.00 </td></tr>
        <tr><td>Reconstruction Treatments </td><td>$6.00 </td></tr>
        <tr><td>Fermodyl, Pantene, Perscription 4, etc. </td><td>$5.00 </td><tr>
        <tr><td>Hot Oil Treatments </td><td>$5.00 </td></tr>
      </table><br>

      <strong><u>Nail Services  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>French Manicure </td><td>$8.00 </td></tr>
        <tr><td>Plain Manicure </td><td>$6.00 </td><tr>
        <tr><td>Nail Repair (per nail) </td><td>$3.00 </td></tr>
        <tr><td>Nail Sculpturing (per nail) </td><td>$4.00 </td></tr>
        <tr><td>Nail Wrapping </td><td>$3.00 </td></tr>
        <tr><td>Nail Tips </td><td>$4.00 </td></tr>
        <tr><td>Paraffin Wax Manicure </td><td>$9.00 </td></tr>
        <tr><td>Pedicure </td><td>$18.00 </td></tr>
        <tr><td>Paraffin Wax Pedicure </td><td>$21.00 </td></tr>
      </table><br>

      <strong><u>Facial Treatment  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Acne Facial </td><td>$7.00 </td></tr>
        <tr><td>Plain Facial </td><td>$7.00 </td><tr>
        <tr><td>Facial for Dry Skin </td><td>$7.00 </td></tr>
        <tr><td>Facial Packs/ Masks </td><td>$7.00 </td></tr>
        <tr><td>Blackheads/ Whiteheads Treatments </td><td>$7.00 </td></tr>
        <tr><td>Makeup </td><td>$7.00 </td></tr>
        <tr><td>Paraffin Wax Facial </td><td>$9.00 </td></tr>
      </table><br>

      <strong><u>Waxing Treatments  </u></strong> 
      <table border= ”1”> 
        <tr><th>Service</th><th>Price</th></tr> 
        <tr><td>Eyebrows </td><td>$6.00 </td></tr>
        <tr><td>Face </td><td>$6.00 </td><tr>
        <tr><td>Lower Legs </td><td>$6.00 </td></tr>
        <tr><td>Whole Legs </td><td>$15.00 </td></tr>
        <tr><td>Upper Lip </td><td>$6.00 </td></tr>
        <tr><td>Neckline </td><td>$6.00 </td></tr>
        <tr><td>Sideburns </td><td>$7.00 </td></tr>
      </table><br>
    </div>
  </div>
{% endblock %}
