{% extends "base.html" %}
<title>{% block title %}Visit Us{% endblock %} </title>
    {% block heading %}Visit Us{% endblock %}
    {% block content %}
    
    <img src="http://farm4.static.flickr.com/3065/2821702072_7364611222.jpg" alt="career center pic">
    <style type="text/css">
    table {
        color:#FFF;
        border: solid;
        background-color:#000;
        opacity: 0.6;
        margin-left: 30%;
        width: 40%;
    }
    p {
        text-align: center;
    }
    </style>
    <p> The Salon is situated on the second floor of the Career Center. The Career Center is  located at : 
       <br><br> 816 S. Walter Reed Drive <br>
       Arlington, VA 22204. <br><br>
       <a href="http://tinyurl.com/cgnfz3q">Driving Directions</a><br><br></p>


           Our hours durning the school year:
           <table> 
        <tr> <th>Day<th> <th>Hours<th> </tr>
        <tr><td>Monday</td> <td> </td></tr>
         <tr><td>Tuesday</td> <td> </td></tr>
         <tr><td>Wednesday</td> <td> </td></tr> 
         <tr><td>Thursday</td> <td> </td></tr>
         <tr><td>Friday</td> <td> </td></tr>
         <tr><td>Saturday</td> <td> </td></tr>
         <tr><td>Sunday</td> <td> </td></tr>
       </table><br>   
   
       Our hours durning the summer:
     <table> 
        <tr> <th>Day<th> <th>Hours<th> </tr>
        <tr><td>Monday</td> <td> </td></tr>
         <tr><td>Tuesday</td> <td> </td></tr>
         <tr><td>Wednesday</td> <td> </td></tr> 
         <tr><td>Thursday</td> <td> </td></tr>
         <tr><td>Friday</td> <td> </td></tr>
         <tr><td>Saturday</td> <td> </td></tr>
         <tr><td>Sunday</td> <td> </td></tr>
    </table>
    {% endblock %}
